.App-logo {
    max-width: 550px;
    margin: 0px auto;
    padding: 10px;
    @media screen and (max-width: 980px) {
      max-width: 100%;
    }
  }
  
  .container-header {
    background-image: url('../../Assets/bande.jpg');
    background-size: contain;
    vertical-align: center;
    display: flex;
    align-items: center;
    padding: 20px 0;
    @media screen and (max-width: 980px) {
      align-content: center;
      flex-direction: column;
      gap: 5px;
      margin-left: 0;
    }
  }
  
    
  